* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style-type: none;
}

body {
  background: #e5e5e5;
}

.mobile {
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: url(img/headerbackgroundmobile2.svg);
}

.toolbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 180px;
  height: 83px;
}

.headline-background {
  background: url(img/header-shapes\ mobile@2x.svg);
  width: 375px;
  height: 618px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  padding-left: 24px;
}

h1 {
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.about-me {
  width: 327px;
  height: 144px;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.social-text {
  width: 150px;
  height: 24px;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 25px;
}

.middle {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
  padding: 114px 24px;
}

.works {
  width: 327px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  background: #fff;
}

.projects {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.project-tittle {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.client {
  color: #344563;
}

.primary-text {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.project-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
}

.button {
  width: fit-content;
  height: 48;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #6070ff;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df2;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 8px;
}

.button:active {
  background-color: #2230d2;
  border-radius: 8px;
}

.about-my-self {
  background: url(img/Baseaboutmyself.png);
  width: 375px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 114px 24px;
}

.about-article {
  width: 327px;
  display: flex;
  flex-direction: column;
  align-items: flex-star;
  padding: 12px;
  gap: 30px;
}

.tittle {
  width: 250px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.skill-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 12px;
}

.one {
  display: flex;
  justify-content: space-between;
  padding-right: 60px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.line {
  width: 327px;
  height: 1px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 375px;
  height: 779px;
  background: url(img/Contactme.png);
}

.contact-background {
  background: url(img/contactfinal.png);
  background-position: right;
  background-repeat: no-repeat;
  width: 375px;
  height: 710px;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  padding: 70px 24px;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.contact-text {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact-info {
  color: #ebebff;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
}

form {
  display: flex;
  padding-top: 50px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 21px;
}

#name {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  background: #fff;
  border-radius: 8px;
}

#mail {
  width: 327px;
  height: 48px;
  border: 1px solid #cfd8dc;
  border-radius: 8px; 
  background: #fff;
}

#message-text {
  width: 327px;
  height: 170px;
  border: 1px solid #cfd8dc;
  border-radius: 8px; 
  background: #fff;
}