* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mobile {
  height: 718px;
  width: 375px;
  font-family: "poppins", sans-serif;
}

.toolbar {
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headline-section {
  width: 373px;
  height: 596px;
  background: url(img/header-shapes\ mobile@2x.svg);
  flex-direction: column;
}

h1 {
  padding-top: 20%;
  margin: 30px;
  width: 327px;
  height: 150px;
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.about-me {
  padding-top: 55px;
  margin: 30px;
  width: 327px;
  height: 146px;
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.social-text {
  padding-top: 40px;
  margin: 30px;
  width: 150px;
  height: 24px;
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.social-media {
  list-style-type: none;
  padding-top: 7px;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  width: 180px;
}
