* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  list-style-type: none;
  text-decoration: none;
}

body {
  min-height: 100vh;
  background: #e5e5e5;
}

.toolbar {
  width: 100%;
  background: #fff;
  padding: 26px;
  display: flex;
  position: fixed;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
  color: #344563;
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  transition-property: font-size;
  transition-duration: 1s;
}

main {
  display: block;
}

.menu:hover {
  font-size: 20px;
}

.profile {
  width: 100%;
  background:
    url("img/header-shapes-mobile.svg"),
    url("img/header-background-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-position: center, bottom left;
}

.profile-background {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 102px;
  padding-left: 24px;
  padding-right: 24px;
}

h1 {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
}

.about-me {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
  max-width: max-content;
}

.social-text {
  color: #0004ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 12px;
}

.social-media {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 136px;
}

.middle {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 88px;
  padding: 114px 24px;
}

.works, 
.works-2,
.overlay-card  {
  width: 100%;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 18px 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
}

.project-image,
.image {
  width: 100%;
  height: auto;
  min-height: 200px;
  min-width: 250px;
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.project-tittle {
  color: #172b4d;
  font-size: 32px;
  font-weight: 700;
  line-height: 44px;
}

.client {
  color: #344563;
}

.primary-text {
  color: #344563;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

.project-info {
  display: flex;
  align-items: center;
  gap: 12px;
  color: #6b778c;
  font-size: 13px;
  font-weight: 600;
  line-height: 16px;
}

.categories {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 25px;
}

.categories li {
  background: #ebebff;
  border-radius: 8px;
  padding: 4px 12px;
  color: #0004ff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.ruby {
  display: none;
}

.button {
  width: fit-content;
  height: 48;
  border-radius: 8px;
  background: #fff;
  border: 1px solid #6070ff;
  display: flex;
  align-items: center;
  padding: 12px;
  font-size: 17px;
  font-weight: 500;
  line-height: 24px;
  color: #396df2;
}

.button:hover {
  background-color: #6070ff;
  color: #fff;
  border-radius: 8px;
  animation-name: rotate;
  animation-duration: 0.7s;
  animation-direction: reverse;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.button:active {
  background-color: #2230d2;
  border-radius: 8px;
}

.about-my-self {
  background: url("img/about-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  width: 100%;
}

.about-article {
  display: flex;
  flex-direction: column;
}

.tittle {
  color: #172b4d;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  margin-bottom: 12px;
}

.myself-text {
  color: #344563;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 12px;
}

.about-text {
  color: #0004ff;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 26px;
}

.about-media {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  margin-bottom: 22px;
}

.skill-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 48px;
}

.skill-list-desktop {
  width: 100%;
  display: none;
}

.one,
.two,
.skill-options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-right: 60px;
  margin-bottom: 36px;
  color: #000;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
}

.two {
  margin-top: 36px;
}

.skill,
.skill-desktop {
  display: flex;
  flex-direction: column;
}

.line {
  width: 100%;
  height: 1px;
  margin-bottom: 24px;
}

footer {
  display: flex;
  flex-direction: column;
  background:  #6070FF;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.contact-background {
  background: url("img/contact\ form\ shapes-mobile.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 103px 24px 60px 24px;
  gap: 12px;
}

.contact-text {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
}

.contact-info {
  color: #ebebff;
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  text-align: center;
  max-width: 370px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 24px;
}

.button-contactMe {
  align-self: flex-start;
}

#name,
#mail,
#message-text {
  width: 100%;
  height: auto;
  padding: 15px;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  background: #fff;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  align-items: center;
  color: #172b4d;
}

@media screen and (min-width: 768px) {
  .bars {
    display: none;
  }

  .menu {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 32px;
  }

  .profile {
    width: 100%;
    background:
      url("img/Header-bg-desktop.svg"),
      url("img/header-bg-shape-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain, cover;
    background-position: center, bottom left;
  }

  .profile-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 241px 252px 87px 225px;
  }

  h1 {
    color: #172b4d;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    margin-bottom: 12px;
  }

  .about-me {
    font-size: 20px;
    line-height: 28px;
  }

  .middle {
    grid-row-gap: 142px;
    padding: 142px;
  }

  .works {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "imageArea projectArea";
    gap: 46px;
  }

  .works-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "projectArea imageArea";
    gap: 46px;
  }

  .project-image {
    grid-area: imageArea;
  }

  .projects {
    grid-area: projectArea;
  }

  .project-tittle {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
  }

  .project-info {
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
  }

  .client {
    font-weight: 500;
  }

  .primary-text {
    font-size: 16px;
    margin-right: 46px;
  }

  .ruby {
    display: flex;
  }

  .skill-list {
    display: none;
  }

  .about-my-self {
    background: url("img/about-bg-shape-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top right;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 142px;
    gap: 37px;
  }

  .myself-text {
    max-width: 447px;
    margin-top: 12px;
  }

  .skill-list-desktop {
    display: flex;
    max-width: 684px;
  }

  .skill-desktop {
    width: 100%;
  }

  .skill-options {
    display: flex;
    justify-content: space-between;
  }

  footer {
    display: flex;
    flex-direction: column;
    background: #fff url("img/contact-bg-shape-desktop.svg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-background {
    background: #6070FF url(img/contact-shapes-desktop.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin: 79.09px 74px 48.21px 40px;
  }

  .contact-info {
    min-width: 569px;
  }

  #name,
  #mail,
  #message-text {
    max-width: 447px;
    border-radius: 0;
  }

  .button-contactMe {
    align-self: center;
  }
}

.overlay {
  background-color: #6070ff;
  mix-blend-mode: multiply;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.main-menu {
  display: flex;
  flex-direction: column;
  padding-top: 106px;
  padding-left: 28px;
  gap: 40px;
}

.menu-item {
  color: #fff;
  font-size: 32px;
  font-weight: 600;
  line-height: 44px;
}

.cancel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  position: fixed;
  right: 2%;
  padding: 8px;
}

/* Overlay cards-projects section styles */

.modal-container {
  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,0.4);
  backdrop-filter: blur(5px);
  overflow: auto;
  padding: 50px 16px;
  width: 100%;
}

.modal-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-right: 16px;
}

.modal-card-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.modal12 {
  margin-bottom: 12px;
}

.modal-tecnologies {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
}

.img-devider {
  margin-bottom: 25px;
  width: 100%;
}

.btn-modal {
  width: 100%;
  display: flex;
  gap: 12px;
  justify-content: center;
  margin-bottom: 20px;
}

.btn-link {
  min-width: max-content
}

.icon-btn {
  margin-left: 14px;
}


/* desktop-version Overlay cards-projects section styles */

@media screen and (min-width: 768px) {

  .modal-container {
    padding: 77px 142px;
  }

  .overlay-card {
    padding: 24px;
  }

  .modal28 {
    margin-bottom: 28px;
  }

  .img-modal {
    margin-bottom: 59px;
    max-height: 700px;
  }

  .modal-card-info {
    display: flex;
    flex-direction: row;
  }

  .modal-text {
    width: 60%;
  }

  .modal-tecnologies {
    width: 40%;
  }

  .categ-modal {
    display: flex;
    flex-direction: row;
    max-width: 250px;
    flex-wrap: wrap;
  }

  .btn-modal {
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}
